body{
margin:0;
font-family:Arial;
overflow:hidden;
}

/* Pages */

.page{
display:none;
height:100vh;
padding:40px;
box-sizing:border-box;
animation:fade 0.7s;
}

.active{
display:block;
}

/* animation */

@keyframes fade{
from{
opacity:0;
transform:translateX(40px);
}
to{
opacity:1;
transform:translateX(0);
}
}

/* layout */

.content{
display:flex;
justify-content:space-around;
align-items:center;
margin-top:40px;
flex-wrap:wrap;
}

.text{
width:40%;
font-size:22px;
}

.images{
width:40%;
display:flex;
gap:20px;
}

.images img{
width:50%;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.4);
transition:.4s;
}

.images img:hover{
transform:scale(1.08);
}

/* backgrounds */

#page1{
background:linear-gradient(135deg,#1f1c2c,#928dab);
color:white;
}

#page2{
background:linear-gradient(135deg,#3a0000,#a83232);
color:white;
}

#page3{
background:linear-gradient(135deg,#ffffff,#c9f7d2);
}

#page4{
background:linear-gradient(135deg,#d4fc79,#96e6a1);
}

/* text styles */

.stress{
color:#ffdede;
margin:10px 0;
}

.warning{
color:orange;
font-size:24px;
}

.good{
color:green;
}

.solution{
margin:10px;
font-size:22px;
}

/* buttons */

button{
padding:14px 28px;
font-size:18px;
border:none;
border-radius:6px;
cursor:pointer;
margin-top:30px;
background:black;
color:white;
transition:.3s;
}

button:hover{
background:#333;
}

/* back arrow */

.back{
position:absolute;
top:20px;
left:20px;
background:none;
font-size:26px;
color:white;
}